<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="form-group">
                <input type="number" step="5" placeholder="X" class="form-control" ng-model="player.movement.origin.x" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="number" step="5" placeholder="Y" class="form-control" ng-model="player.movement.origin.y" />
            </div>
        </div>
    </div>
</div>